html { 
  background: url(home.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
margin: 0px;

}


#login {
background-color: rgba(0,0,0,0);
position: absolute;
color: white;
font-size: 22px;
right: 0px;
padding: 10px;
border: 0 none;
font-family: 'Open Sans', sans-serif;
} 

#profile{
     padding:0px;
     border: 0 none;
     height: 30px;
     position: absolute;
     right: 0px;
     width: 200px;
     border:0px;
    background-color: #3498db;

}


#signup {
position: absolute;
right: 200px;
width: 200px;
background-color: #2ecc71;
}       

#locationField {
      font-family: 'Open Sans', sans-serif;
      color: white;
      text-align: center;
      position: fixed;
      width: 100%;
      top: 50%;
      }
      
#autocomplete {
        position: relative;
        width: 200px;
        height: 30px;
      }
      
#month {
        position: relative;
        width: 200px;
        height: 30px;
      } 
      
.next
	{
	background-color: #3498db;
	height: 30px;
	border: 0 none;
	border-radius: 1px;
	}    


.next:hover{
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

 

#placeTime {
	text-align: center;
}  

#images {
	text-align: center;
}
#profile button{
  height: 30px;
  border:0px;
}
#profile img{
  float:left;
  height:30px;
  width:30px;
}
#profile a{
  text-align: center;
margin: auto;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}