#map-canvas {
        font-family: sans-serif;
        height: 100%;
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-image: url("img/deck.jpg");
        background-size: cover;
      }

body {
margin: 0px;

}


#login {
position: absolute;
right: 0px;
width: 200px;
background-color: #3498db;
} 

#profile{
     padding:0px;
     border: 0 none;
     height: 30px;
     position: absolute;
     right: 0px;
     width: 200px;
     border:0px;
    background-color: #3498db;

}


#signup {
position: absolute;
right: 200px;
width: 200px;
background-color: #2ecc71;
}       

#locationField {
      font-family: sans-serif;
      text-align: center;
      position: fixed;
      width: 100%;
      top: 50%;
      }
      
#autocomplete {
        position: relative;
        width: 200px;
        height: 30px;
      }
      
#month {
        position: relative;
        width: 200px;
        height: 30px;
      } 
      
.next
	{
	background-color: #3498db;
	height: 30px;
	border: 0 none;
	border-radius: 1px;
	}    


.next:hover{
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.next:hover {
box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}     

#placeTime {
	text-align: center;
}  

#images {
	text-align: center;
}
#profile button{
  height: 30px;
  border:0px;
}
#profile img{
  float:left;
  height:30px;
  width:30px;
}
#profile a{
  text-align: center;
margin: auto;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}