<html>
<head>
	<title>Veique</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
	<div class="homepage">
		<div class="nav">
			<div class="brand">
			</div>
			<div class="links">
                     <div hidden="true">
				    <%= (!!locals.user.profile)?user:'' %>
				    </div>
                     <%if( locals.user == ''){%>
				<div onclick="window.location = '/login';" class="hyperlink">Login</div>
				 <%}else{%>
                      <img src=<%=user.profile.picture%>>
                       <a><%=user.profile.name%></a>
                   

				 <div onclick="window.location = '/account';" class="hyperlink">Profile</div>
         
                   <%}%>
				<div class="hyperlink">Become a guide</div>
			</div>
		</div>
		<nav class="container">
			<div class="main-search">
				<div class="normal-text">I want to go to</div>
				<div class="normal-text" style="color:#C89777;">
					&nbsp;<span id="location" contenteditable="true">Rome, Italy</span>&nbsp;
					<div class="underline-box"></div>
				</div>
				<div class="normal-text">sometime in</div>
				<div class="normal-text" style="color:#C89777; outline: none;">
					&nbsp;<span contenteditable="true">March</span>&nbsp;
					<div class="underline-box"></div>
				</div>
				<div class="normal-text">.</div>
			</div>
		</nav>
	</div>
	<script src="selectStart.js"></script>
</body>
</html>
